#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

h3 + button.inline-button,
input + button.inline-button,
button.inline-button + h3,
button.inline-button + input {
  display: inline-block;
}

h3 {
  display: inline-block;
}
